extends layout

block header
  script(type="text/javascript").
    $(document).ready(function(){ 
      $('a[href="/login"]').parent().addClass('active'); 
    });
block content
  include menu
  h1 Login
