div.header.clearfix
  nav
    ul.nav.nav-pills.pull-right
      li(role="presentation")
        a(href="/") Home
      li(role="presentation")
        a(href="/login") Login
      li(role="presentation")
        a(href="/about") About
  h3(class="text-muted")= title
